body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        'menu'
        'principal'
        'pie';
    margin: 0;
    font-family: sans-serif;
}

nav {
    display: flex;
    flex-direction: column;
    grid-area: menu;
    background-color: white;
}

nav img {
    height: 200px;
}

.barra i {
    font-size: 50px;
    cursor: pointer;
}

.marca {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around
}

.filtro {
    display: none;
}

main {
    grid-area: principal;
    background-color: lightcyan;
    text-align: center;
}

.el-menu {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.el-menu select {
    width: 100%;
    height: 30px;
    border-radius: 15px;
}
.tarjetas {
    display: flex;
    flex-direction: column;
    gap: 50px
}

.tarjeta {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 10px;
}

.tarjeta img {
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 10px;
}

.tarjeta div {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

button {
    padding: 10px;
    border-radius: 10px;
    border-color: lightgoldenrodyellow;
    background-color: lightgreen;
    margin-top: auto;
    cursor: pointer;
}

button:hover {
    background-color: green;
    color: white;
}

.paginas {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    background-color: lightcyan;
}

.paginas a {
    text-decoration: none;
    color: blue;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
    min-width: 40px;
}

.paginas a:hover {
    background: lightblue;
    color: white;
}

.paginas .activa {
    font-weight: bold;
    color: darkblue;
    border-color: blue;
}


footer {
    grid-area: pie;
    background-color: lightblue;
    padding: 20px;
    text-align: center;
}

.footer-img {
    display: none;
}

@media (min-width:576px) {
    body {
        grid-template-columns: 1fr 7fr;
        grid-template-areas:
            'menu principal'
            'menu principal'
            'pie principal';
    }

    main {
        padding: 15px;
    }

    .marca {
        flex-direction: column;
    }

    .barra {
        display: none;
    }

    .marca img {
        padding: 20px;
        width: 150px;
    }

    .filtro {
        display: flex;
        flex-direction: column;
        background-color: white;
    }

    .filtro ul {
        list-style: none;
    }

    .filtro li {
        margin: 10px;
    }

    a {
        text-decoration: none;
        color: black;
    }

    a:hover {
        text-decoration: solid;
    }

    .tarjetas {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 10px;
    }

    .tarjeta {
        text-align: center;
        width: 240px;
    }

    footer {
        background-color: white;
        display: flex;
        flex-direction: column;
    }

    .footer-img {
        display: flex;
        width: 150px;
    }

}