body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        'menu'
        'filtro'
        'principal'
        'pie';
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.cabeza {
    grid-area: menu;
}

.cabeza img {
    width: 200px;
}

.cabeza i {
    font-size: 50px;
    cursor: pointer;
}

.logo {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navegacion {
    display: none;
}

.filtro {
    grid-area: filtro;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.filtro select {
    width: 100%;
    height: 30px;
    border-radius: 15px;
    cursor: pointer;
}

main {
    grid-area: principal;
    text-align: center;
}

.cards {
    display: grid;
    grid-template-columns: 1fr;
}

.tarjeta {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px;
}

.tarjeta img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

button {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border-color: lightgoldenrodyellow;
    background-color: lightgreen;
    cursor: pointer;
}

button:hover {
    background-color: green;
    color: white;
}

.paginas {
    padding: 10px;
    margin: 10px;
}

.paginas a {
    text-decoration: none;
    color: black;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.paginas a:hover {
    background: lightblue;
    color: white;
}

footer {
    grid-area: pie;
    text-align: center;
}

footer a {
    font-size: 24px;
    color: black;
}

@media (min-width:576px) {
    body {
        grid-template-columns: 1fr 7fr;
        grid-template-areas:
            'menu filtro'
            'menu principal'
            'pie principal';
    }

    .cabeza i {
        display: none;
    }

    .navegacion {
        display: flex;
        flex-direction: column;
    }

    .navegacion ul {
        list-style: none;
    }

    .navegacion li {
        margin: 10px;
    }

    .navegacion a {
        text-decoration: none;
        color: black;
    }

    a:hover {
        color: blue;
    }

    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 10px;
    }

}